@using Sitecore.Mvc

@model Sitecore.Mvc.Presentation.RenderingModel
@{
    Layout = null;
}

<!DOCTYPE html>
<!--[if IE 9]><html lang="en" class="ie9 no-js"><![endif]-->
<!--[if !IE]><!-->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="keywords" content="" />
    <meta name="description" content="@Html.Sitecore().Field("MetaDescription", new {DisableWebEdit = true})" />
</head>

<body class="header-static">
<div id="main-container">
    <header class="header-static">
        @Html.Sitecore().Placeholder("header")
    </header>
    <main>
        <section class="page-header">
            @Html.Sitecore().Placeholder("mainContent")
        </section>
    </main>
    <footer>
        @Html.Sitecore().Placeholder("footer")
    </footer>
</div>
</body>

</html>