<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <unicorn>
            <configurations>
                <configuration
                    name="Hackathon.Project.Meetup"
                    dependencies="Hackathon.Foundation.Serialization"
                    extends="Hackathon.Serialization.Base">
                    <predicate>
                        <include name="master.templates.project" database="master" path="/sitecore/templates/Project" />
                        <include name="master.layouts.Project.Meetup" database="master" path="/sitecore/layout/Layouts/Project/Meetup" />
                        <include name="master.placeholders.Project.Common" database="master" path="/sitecore/layout/Placeholder Settings/Project/Common" />
                    </predicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>